// Place all the styles related to the api/lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$border-rad: 10px;

.lesson-container {
  display: flex;
  justify-content: space-around;
  background: white;
  border-radius: $border-rad;
  margin: 5% 20% 10% 20%;
  padding: 10px;
  height: 390px;
  flex-direction: column;
  align-items: center;
}

.lesson-container button {
  min-width: 130px;
  border: 2px solid lightgrey;
  border-radius: 10px;
  background: white;
  min-height: 80px;
  margin: 10px;
  font-size: 18px;
  align-self: center;
}
.lesson-container button:active {
  transform: translate(2px, 2px);
}

.lesson-container button:hover {
  opacity: 0.7;
  color: #2c79c2;
  border: 2px solid #2c79c2;
}

.lesson-container button:hover {
  div {
    height: 10px;
    width: 10px;
    background: red;
  }
}

.question-container h3 {
  font-size: 30px;
}

.correct-li {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.correct-li p {
  padding-right: 10px;
  font-size: 20px;
  &.check {
    color: green;
  }
  &.x {
    color: red;
  }
}

.done-ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.correct-component {
  text-align: center;
}

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  height: 90%;
  text-align: center;
}

.question-container ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (min-width: 1000px) {
  .question-container ul {
    flex-direction: row;
  }
}

.questionOutOf {
  align-self: flex-start;
  padding: 5px;
}

.questionOutOfend {
  align-self: flex-end;
}
