// Place all the styles related to the api/units controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.unit-index {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unit-main {
  display: flex;
}

.unit-nav {
  float: left;
  padding: 15px;
  background: #43ab00;
  margin: 10px;
  position: absolute;
  border-radius: 15px;
}

.each-unit {
  text-align: center;
  font-size: 30px;
  width: 300px;
  justify-content: center;
  display: flex;
  height: 150px;
  align-items: center;
  border-radius: 30px;
  margin: 20px;
  background: rgba(87, 113, 109, 0.68);
  &.unlocked {
    background: rgba(76, 183, 165, 0.7);
    &.current {
      background: rgba(67, 171, 0, 0.72);
    }
  }
}
//
// .each-unit {
//   background: rgba(67, 89, 53, 0.72);
//   font-size: 30px;
//   padding: 2%;
//   margin-bottom: 20px;
//   margin-top: 10px;
//   border-radius: 100%;
//   height: 200px;
//   width: 200px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   &.unlocked {
//     background: rgba(67, 171, 0, 0.77);
//   }
// }

.skill-tree {
  border-radius: 30px;
  margin-left: 20%;
  background: white;
  margin: 5% 20% 5% 20%;
  padding: 20px 0px 20px 0px;
  min-width: 350px;
}
.skill-tree h1 {
  display: flex;
  justify-content: center;
}
.show-unit {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  margin: 5% 20% 5% 20%;
  border-radius: 30px;
  padding: 20px;
  padding-bottom: 40px;
  background-color: #f7f5f3;
  width: 100%;
}
.show-unit h1 {
  padding-bottom: 0px;
  padding-top: 10px;
}

.show-unit ul {
  display: flex;
  width: 80%;
  justify-content: center;
  flex-wrap: wrap;
}

.show-unit li {
  // border: 2px solid black;
  width: 200px;
  justify-content: center;
  display: flex;
  height: 150px;
  align-items: center;
  border-radius: 30px;
  margin: 20px;
  text-align: center;
  background: rgba(87, 113, 109, 0.68);
  &.unlocked-lesson {
    background: rgba(76, 183, 165, 0.7);
    &.current {
      background: rgba(67, 171, 0, 0.72);
    }
  }
}

.unlocked-lesson:active, .unlocked:active {
  transform: translate(2px, 2px);
}

.unlocked-lesson:hover, .unlocked:hover {
  opacity: 0.7;
}
