// Place all the styles related to the api/units controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.unit-index {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.each-unit {
    background: grey;
    padding: 2%;
    // margin: 15%;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    text-align: center;
  }
.skill-tree {
  border-radius: 5%;
  margin-left: 20%;
  background: white;
  margin-right: 20%;
  margin-top: 5%;
}
