/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  /*background: #D0D0D0;*/
  font-family: 'Poppins', sans-serif;
  overflow-y: scroll;
  min-width: 500px;
}

/*#root {
  background-image: url("free-vector-classroom.jpg");
  background-repeat: no-repeat;
   height: 100%;
  /*background-size: cover;
  background-position: center;*/
/*}*/

 header {
   display: flex;
   justify-content: space-between;
   padding: 10px;;
   background-color: #43AB00;
   color: white;
   align-items: center;
 }

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mathowl {
  height: 80px;
}
.header-name {
  padding: 10px;
  margin-right: 20px;
}

 .header-link {
   text-decoration: none;
   padding-left: 30px;
   font-size: 25px;
 }

 .login-link {
   padding-right: 30px;
 }
.greeting {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 150px;
  align-items: center;
  margin-right: 30px;
}

.greeting-button{
  border: 0;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  color: grey;
  margin-bottom: 3px;
  font-size: 16px;
}

.greeting-button:active {
  transform: translate(2px, 2px);
}

.greeting-button:hover {
  opacity: 0.7;
}

#tagline {
  position: absolute;
  font-size: 65px;
  width: 50%;
  margin-left: 5%;
  margin-top: -100px;
  text-align: center;
}

img.classroom {
    position: absolute;
    z-index: -1;
    width: 100vw;
    opacity: 0.5;
        height: 100%;
  }

  h4 {
    width: 80%;
  }
