body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul,
ol, li, dl, dt, dd, form, a, fieldset, input, th, td, ul, li
{
margin: 0; padding: 0; border: 0; outline: none;
}

a {
  text-decoration: none; color: inherit;
}

ul, li {
  list-style: none;
}

button:focus {
  outline: none;
}

button {
  cursor: pointer;
}
