// Place all the styles related to the api/units controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$border-rad: 10px;

.unit-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

// .unit-main {
//   display: flex;
// }

.unit-nav {
  float: left;
  color: #acacac;
  font-size: 36px;
  // padding: 15px;
  // background: #43ab00;
  margin: 0px -20px;
  position: absolute;
  // border-radius: $border-rad;
}

.each-unit, .show-unit li  {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  // margin: 15px;
  // margin-top: 25px;
  // margin-bottom: 25px;

  background: darkgrey;
  background-image: url("smalldarkgreystar.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  // background: rgba(87, 113, 109, 0.68);
  &.unlocked {
    background: gold;
    background-image: url("smallgoldstar.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    // background: rgba(76, 183, 165, 0.7);
    &.current {
      background: lightgrey;
      background-image: url("smallgreystar.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      // background: rgba(67, 171, 0, 0.72);
    }
  }
}


.skill-tree, .show-unit {
  border-radius: $border-rad;
  background: white;
  margin: 25px 50px;
  padding: 10px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-unit h3, .skill-tree h3 {
    padding: 15px 25px;
    font-weight: 400;
    align-self: flex-start;
  }

.show-unit ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flex-grid {
  display: flex;
}
.flex-grid .col {
  flex: 1;
}

.unlocked-lesson:active, .unlocked:active {
  transform: translate(2px, 2px);
}

.unlocked-lesson:hover, .unlocked:hover {
  opacity: 0.7;
}

.star {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-align: center;
}

.star h4 {
    padding-top: 5px;
}

.level {
    display: flex;
    margin: 25px 0px;
    justify-content: center;
}
